@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    background: black;
}
.main{
    background: url("/assets/images/denji.jpg") center center/cover no-repeat;
    min-height: 70vh;
    height: auto;
    position: relative;
}
.main .box{
    background: black;
    opacity: 0.44;
    position: absolute;
    inset: 0; /* fills full parent height automatically */
}
nav{
    display: flex;
    align-items: center;
    width: 60%;
    margin: auto;
    justify-content: space-between;
    height: 63px;
}
nav img{
    width: 114px;
    position: relative;
    z-index: 10;
}
nav button{
    position: relative;
    z-index: 10;
}
.textcontent{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    position: relative;
    font-family: "Martel Sans", sans-serif;
    padding-top: 100px;
}
.textcontent >:nth-child(1){
    font-size: 35px;
    font-weight: 999;
    text-align: center;
}
.textcontent >:nth-child(2){
    font-size: 35px;
    font-weight: 999;
    text-align: center;
}
.textcontent >:nth-child(3){
    font-size: 20px;
    font-weight: 500; 
    text-align: center;
}
.textcontent >:nth-child(4){
    font-size: 16px;
    font-weight: 400; 
    text-align: center;
}
.seperation{
    height: 10px;
    background: gray;
}